{% extends 'base.html' %}

{% block meta_tags %}
    {% include '_meta_tags.html' with meta_title=article.get_meta_title meta_description=article.meta_description keyword=article.keyword %}
{% endblock %}

{% block breadcrumbs %}
    {% include '_breadcrumbs.html' %}
{% endblock %}
{% block content %}
    <h2 style="color: white">{{ article.title }}</h2>
    <img class="img-thumbnail" src="{{ article.image.url }}" alt="">
<p style="color: white">{{ article.text }}</p>
<p style="color: white">
    {% for tag in article.tags.all %}
        <a style="color: white" href="">#{{ tag.name }}</a>&nbsp;
        <a style="color: white" href="{% url 'tag_search_view' tag_id=tag.id %}">#{{ tag.name }}</a>&nbsp;
    {% endfor %}

</p>



    {% if article.user %}
        <p style="color: white"><b>Автор поста: </b>{{ article.user.first_name }} {{ article.user.last_name }}</p>
        {% if article.user.image %}
            <img class='img-thumbnail' src="{{ article.user.image_thumbnail.url }}" alt="">
        {% endif %}

    {% endif %}
<p style="color: white">
    Дата: <b>{{ article.publish_date }}</b>
    Категория: <b>{{ category.name }}</b>
</p>
{% endblock %}


{% if article.user %}
        <div style="color: white" class="text-end">
            <div style="color: white" class="author">
                {% if article.user.image %}
                    <span class="avatar">
                        <img src="{{ article.user.image_thumbnail.url }}" alt="">
                    </span>
                {% endif %}
                {% if article.user.first_name %}
                    <span class="author-name">{{ article.user.first_name }} {{ article.user.last_name }}</span>
                {% else %}
                    <span class="author-name">{{ article.user.username }}</span>
                {% endif %}
            </div>
        </div>
    {% endif %}
