{% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
{% endif %}

<form method="post">
    {% csrf_token %}

    {% if not request.user.is_authenticated %}
        <div class="mb-3">
            <label for="name" class="form-label">И'мя</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
    {% endif %}

    <div class="mb-3">
        <label for="text" class="form-label">Коментар</label>
        <textarea name="text" id="text" class="form-control" rows="3"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Залишити коментар</button>
</form>