{% extends 'base.html' %}
{% block meta_tags %}
    {% include '_meta_tags.html' with meta_title='Головна' %}
{% endblock %}

{% block breadcrumbs %}
    {% include '_breadcrumbs.html' %}
{% endblock %}

{% block content %}
    <h1>Привіт! Ви на головній сторінці IT Today!</h1>

    <h3>У цьому магазині ви зможете замовити налаштування офісу та замовити обладнання. А також багато свіжих новин про світ IT і знаходити безліч статей про різні мови програмування. Сподіваюся вам сподобається!</h3>
{% endblock %}
