{% load static %}
<div>

    <h3 style="color: white" class="my-header">{{ category.name }}</h3>
    <div style="color: white" class="row">
        {% for item in object_list %}
            <div style="color: white" class="col-sm-12 col-md-4">
                <div style="color: white" class="product">
                    <a href="{{ item.get_absolute_url }}">
                        {% if item.main_image %}
                            <img src="{{ item.main_image.image_thumbnail.url }}" alt="">
                        {% else %}
                            <img src="{% static 'img/no-image.png' %}" alt="">
                        {% endif %}
                        <b style="color: white" class="text-danger product-price">{{ item.price }} гривень</b>
                        <p style="color: white" class="product-name">{{ item.name }}</p>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

</div>